<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3 mar">
  <div class="my-3 border-bottom">
    <div>
      <h4>회원가입</h4>
    </div>
  </div>
  <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="mb-3">
      <label for="username" class="form-label">사용자ID</label>
      <input id="username" type="text" th:field="*{username}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">비밀번호</label>
      <input id="password1" type="password" th:field="*{password1}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">비밀번호 확인</label>
      <input id="password2" type="password" th:field="*{password2}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">이메일</label>
      <input id="email" type="email" th:field="*{email}" class="form-control">
    </div>
    <a class="nav-link mb-1" th:href="@{/user/login}">로그인</a>
    <button type="submit" class="btn btn add_button">회원가입</button>
  </form>
</div>
</html>
