<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${pageTitle}">기본 제목</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- modal css -->
    <link rel="stylesheet" type="text/css" th:href="@{/modal.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/my_linear_gradient.css}">

    <style>
        a.nn{
        text-decoration: none;
        color: black;
        }
    </style>
    <title>Hello!</title>
</head>
<body >
<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block th:id="my_gradient_2" th:class="grad" layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<!-- Bootstrap JS -->
<script th:src="@{/bootstrap.min.js}"></script>

<!--modal js-->
<script th:src="@{/modal.js}"></script>


<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->
</body>
</html>