<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>linear-gradient</title>
    <link rel="stylesheet" type="text/css" th:href="@{/my_linear_gradient.css}">
</head>
<body id="back">
<div>
    <div class="outer_div">
        <div class="my_gradient_1"></div>
        <p>linear-gradient(to bottom, red, yellow)</p>
    </div>
    <div class="outer_div">
        <div class="my_gradient_2"></div>
        <p>linear-gradient(to top, red, yellow)</p>
    </div>
    <div class="outer_div">
    <div class="my_gradient_3"></div>
        <p>linear-gradient(to right, red, yellow)</p>
    </div>
    <div class="outer_div">
        <div class="my_gradient_4"></div>
        <p>linear-gradient(to left, red, yellow)</p>
    </div>
</div>
<div>
    <div class="outer_div">
        <div class="my_gradient_5"></div>
        <p>linear-gradient(to bottom right, red, yellow)</p>
    </div>
    <div class="outer_div">
        <div class="my_gradient_6"></div>
        <p>linear-gradient(to bottom left, red, yellow)</p>
    </div>
    <div class="outer_div">
        <div class="my_gradient_7"></div>
        <p>linear-gradient(to top right, red, yellow)</p>
    </div>
    <div class="outer_div">
        <div class="my_gradient_8"></div>
        <p>linear-gradient(to top left, red, yellow)</p>
    </div>
</div>
</body>
</html>
